<div class="page">
  <div class="page-title">
    <h1 class="article-title"><%= page.slug %></h1>
  </div>
  <div class="page-content" style="height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;">
    <span style="    color: #888;
    letter-spacing: 4px;">
      查无此人...
    </span>
    <%- page.content %>
  </div>
</div>

