<header class="header">
  <div class="blog-title animated jackInTheBox">
    <a class="title-main" href="<%- url_for() %>" class="logo"><%= config.title %></a>
    <div  class="title-sub"><%= config.subtitle || '' %></div>
  </div>
</header>